:root {
  --color-brand--1: #ffb545;
  --color-brand--2: #00c46a;
  --color-brand--3: #0abde3;

  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-dark--3: #3a3f42;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: rgb(214, 222, 224);

  --color-danger: #ff2626;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  color: var(--color-light--2);
  font-weight: 400;
  line-height: 1.6;
  height: 100vh;
  overscroll-behavior-y: none;

  background-color: #fff;
  padding: 2.5rem;

  display: flex;
}

/* GENERAL */
a:link,
a:visited {
  color: var(--color-brand--1);
}

/* SIDEBAR */
.sidebar {
  flex-basis: 50rem;
  background-color: var(--color-dark--1);
  padding: 3rem 5rem 4rem 5rem;
  display: flex;
  flex-direction: column;
}

.logo {
  height: 5.2rem;
  align-self: center;
  margin-bottom: 4rem;
}

.modify__container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 5rem;
}

.modify {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 0.5rem 2.25rem;
  cursor: pointer;
  transition: all 0.5s, transform 1ms;
}

.modify--sort {
  border-left: 5px solid var(--color-brand--3);
}

.modify--delete {
  border-left: 5px solid var(--color-danger);
  flex-basis: 16rem;
  transition: all 0.5s, transform 1ms;
}

.modify--sort:hover,
.modify--delete:hover {
  background-color: var(--color-dark--3);
}

/* SORT BY STYLES */
.sort__by__input__menu {
  padding: 0.3rem 1.1rem;
  font-family: inherit;
  font-size: 1.5rem;
  background-color: var(--color-light--3);
  border: none;
  transition: all 0.2s;
}
.sort__by__input__menu:hover {
  background-color: var(--color-brand--3);
}

.workouts {
  list-style: none;
  height: 77vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.workouts::-webkit-scrollbar {
  width: 0;
}

.workout {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 1.5rem 2.25rem;
  margin-bottom: 1.75rem;
  cursor: pointer;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.75rem 1.5rem;
  transition: all 0.5s, transform 1ms;
}

.workout:hover {
  background-color: var(--color-dark--3);
}

.workout--running {
  border-left: 5px solid var(--color-brand--2);
}
.workout--cycling {
  border-left: 5px solid var(--color-brand--1);
}

.workout__title {
  font-size: 1.7rem;
  font-weight: 600;
  grid-column: 1 / 4;
}

.workout-mod__btns {
  grid-column: 4 / -1;
  display: flex;
  justify-content: right;
}

.workout__btn {
  padding: 0.4rem 0.5rem;
  font-size: 1.8rem;
  background: none;
  border: none;
  cursor: pointer;
}
.workout__details {
  display: flex;
  align-items: baseline;
}

.workout__icon {
  font-size: 1.8rem;
  margin-right: 0.2rem;
  height: 0.28rem;
}

.workout__value {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.workout__unit {
  font-size: 1.1rem;
  color: var(--color-light--1);
  text-transform: uppercase;
  font-weight: 800;
}

.form {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 1.5rem 2.75rem;
  margin-bottom: 1.75rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 2.5rem;

  /* Match height and activity boxes */
  transition: all 0.5s, transform 1ms;
}

.edit--activity {
  height: 9.25rem;
}

.new--activity {
  height: 12.25rem;
}

.form.hidden,
.modify__container.hidden {
  transform: translateY(-30rem);
  height: 0;
  padding: 0 2.25rem;
  margin-bottom: 0;
  opacity: 0;
}

.form__row {
  display: flex;
  align-items: center;
}

.form__row--hidden {
  display: none;
}

.form__label {
  flex: 0 0 50%;
  font-size: 1.5rem;
  font-weight: 600;
}

.form__input {
  width: 100%;
  padding: 0.3rem 1.1rem;
  font-family: inherit;
  font-size: 1.4rem;
  border: none;
  border-radius: 3px;
  background-color: var(--color-light--3);
  transition: all 0.2s;
}

.form__input:focus {
  outline: none;
  background-color: #fff;
}

.btn--OK {
  display: none;
}

.btn--cancel {
  margin: 0em auto;
  width: 20%;
  height: 100%;
  background-color: var(--color-danger);
  border: none;
  color: var(--color-light--2);
  border-radius: 5px;
  grid-column: 1/3;
}

.btn--cancel.hidden {
  display: none;
}

.copyright {
  margin-top: 1.75rem;
  font-size: 1.3rem;
  text-align: center;
  color: var(--color-light--1);
}

.twitter-link:link,
.twitter-link:visited {
  color: var(--color-light--1);
  transition: all 0.2s;
}

.twitter-link:hover,
.twitter-link:active {
  color: var(--color-light--2);
}

/* MAP */
#map {
  flex: 1;
  height: 100%;
  background-color: var(--color-light--1);
}

/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  border-radius: 5px;
  padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.5rem;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: var(--color-dark--1);
}

.running-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--2);
}
.cycling-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--1);
}

/*-----MEDIA QUERIES ----*/

@media (max-width: 940px) {
  html {
    font-size: 60%;
  }

  body {
    flex-direction: column;
    flex-direction: column-reverse;
  }

  .logo {
    margin-bottom: 2rem;
  }

  .sidebar {
    height: 55%;
    flex-basis: auto;
    padding: 4rem 12rem;
  }

  .modify__container {
    align-items: end;
  }
}

@media (max-width: 640px) {
  html {
    font-size: 60%;
  }

  .sidebar {
    padding: 2rem 4rem;
  }
}

@media (max-width: 520px) {
  .sidebar {
    padding: 2rem 3rem;
  }
}

@media (max-width: 480px) {
  .sidebar {
    padding: 2rem 1.5rem;
  }
}

@media (max-width: 430px) {
  .sidebar {
    padding: 2rem 1rem;
  }

  .workout .workout__details:nth-child(2),
  .workout .workout__details:nth-child(3),
  .workout .workout__details:nth-child(5) {
    grid-column: 1/3;
  }
}

@media (max-width: 400px) {
  .workout__title {
    grid-column: 1/5;
  }

  .workout-mod__btns {
    grid-column: 1/2;
  }

  .modify__container {
    flex-direction: column;
    align-items: stretch;
  }

  .modify--sort {
    margin-bottom: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
  }

  .modify--sort select {
    width: 185px;
  }

  .modify--delete {
    flex-basis: 3rem;
  }
}
